body {
  padding-top: 50px;  /* Move body of page below navbar. */
}

body, footer, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans", sans-serif;
}

.jumbotron {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #3C8DC5;
    background-image: none;
    border-bottom: 0;
}

.page-footer {
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

blockquote {
    font-size: 14px;
    font-style: italic;
}

#graph-container {
    height: 300px;
    margin-top: 20px;
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
}

#node-info {
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.home-page-margins {
    margin-right: 15px;
    margin-left: 15px;
}

.btn {
    white-space: normal;
}


/* Color Palette (from box.com)
   Shades of blue from darkest to white.
   3C8DC5 (Dark Blue)
   6FB7E9 (Medium blue)
   B2D1E5 (Gray blue)
   E9F2F9 (light gray blue)
   FFFFFF (white)
*/

.gray-background {
    background-color: #eeeeee;
}

.dark-blue-background {
    background-color: #3C8DC5;
}

.medium-blue-background {
    background-color: #6FB7E9;
}

.gray-blue-background {
    background-color: #B2D1E5;
}

.light-gray-background {
    background-color: #E9F2F9;
}

.white-background {
    background-color: #ffffff;
}

/* Make the YouTube Videos responsive. */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 15px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.chart-header {
    text-align: center;
}

.top-border {
  border-top: 1px solid #eeeeee;
}
