---
layout: bootstrap
---

<!-- Load tocify css and js -->
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/jquery.tocify.css" />

<!-- Load tocify Javascript components -->
<script src="{{ site.baseurl }}/js/jquery-ui-1.10.4.custom.js"></script>
<script src="{{ site.baseurl }}/js/jquery.tocify.js"></script>


<div class="row">
  <div class="col-xs-3" >
    <!-- Our table of contents will be here !-->
    <div id="nav"></div>
  </div>
  <div class="col-xs-9">
     {{ content }}
  </div>
</div>

<script>
  $("#nav").tocify({theme: "bootstrap3", scrollTo: "40"});
</script>